body {
    font-family: "Poppins", sans-serif;
    background-color:  #171717;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar-nav a:hover {
    color: #FFFFFF;
}

.buttonClicked {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.buttonHover:hover {
    border: 2px solid #FFFFFF;
}

